
@{
  ViewBag.Title = "EmailValidate";
}

<h2>EmailValidate</h2>
<div class="alert alert-info">
  @ViewData["EmailValidate"]

</div>
@Html.ActionLink("登入", "Login");
@Html.ActionLink("再註冊", "Register");
